.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.body {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.calendar {
  flex-grow: 3;
}
